# Local runtime defaults
CHATBOX_ENV=local
CHATBOX_LOG_LEVEL=INFO
CHATBOX_SQLITE_PATH=.chatbox/chatbox.db
CHATBOX_INGEST_BATCH_SIZE=32
CHATBOX_RETRIEVAL_TIMEOUT_MS=2500
CHATBOX_GENERATION_TIMEOUT_MS=8000
CHATBOX_FALLBACK_MODE=hybrid
